version: '3.8'

services:
  database:
    image: postgres:16-alpine
    container_name: restaurant_postgres_db
    environment:
      # Dolar işareti ve süslü parantez ile .env dosyasından okuyoruz
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data