/* Tüm sayfa yapısı */
body, html {
    margin: 0;
    padding: 0;
    background-color: #1F1D2B;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 150px 1fr; /* Sol bar genişliği sabit */
    height: 100vh;
    background-color: #1F1D2B; /* Sol barın da üzerinde durduğu ana zemin */
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

/* Masaların olduğu sağ tarafın arka planı */
.content {
    /* Görseldeki gibi içeriği ana zeminden ayırmak için biraz daha açık bir ton */
    background-color: #252836; 
    
    /* Modern bir bitiş için sol köşeleri yuvarlatıyoruz */
    border-top-left-radius: 24px; 
    border-bottom-left-radius: 24px;
    
    /* İçeriğin Sidebar'a yapışmaması için hafif bir boşluk */
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* Kendi içinde kaydırma özelliği */
    overflow-y: auto;
    
    /* İçerik ile kenarlar arasında nefes alacak alan */
    padding: 20px;

    /* Hafif bir iç gölge ile derinlik hissi */
    box-shadow: inset 10px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Kaydırma çubuğunu arka plana uydurma */
.content::-webkit-scrollbar {
    width: 5px;
}

.content::-webkit-scrollbar-thumb {
    background: #393C49;
    border-radius: 10px;
}